@model SMGPA.Models.Tasks
@{ 
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Detalles de @ViewBag.Tarea</h4>
</div> 
<div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group pull-right">
                    <div class="btn-info btn-sm">
                        <label>@Html.DisplayFor(model => model.Estado)</label>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    @switch (Model.Operacion.Type)
                    {
                        case OperationType.ENTIDAD:
                            <div class="form-group">
                                <label>@Html.DisplayName("Responsable")</label>
                                <div class="well well-sm">
                                    <label>@Html.DisplayFor(model => model.ResponsableEntity.Nombre)</label>
                                </div>
                            </div>
                            break;
                        case OperationType.FUNCIONARIO:
                            <div class="form-group">
                                <label>@Html.DisplayName("Responsable")</label>
                                <div class="well well-sm">
                                    <label>@Html.DisplayFor(model => model.Responsable.Nombre)@Html.DisplayFor(model => model.Responsable.Apellido)</label>
                                </div>
                            </div>
                            break;
                    }               
                    <div class="form-group">
                        <label>@Html.DisplayName("Fecha de inicio")</label>
                        <div class="well well-sm">
                            <label>@Html.DisplayFor(model => model.fechaInicio)</label>
                        </div>    
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayName("Fecha de fin")</label>
                        <div class="well well-sm">
                            <label>@Html.DisplayFor(model => model.fechaFin) </label>
                        </div>     
                    </div>
                   
                </div>
                <div class="col-md-6">
                    @if (Model.Operacion.Validable)
                    {
                     <div class="form-group">
                         <label>@Html.DisplayName("Entidad Validadora")</label>
                             <div class="well well-sm">
                                 <label>@Html.DisplayFor(model => model.Participantes.Nombre)</label>
                             </div>
                      </div>
                    }
                <div class="form-group">
                   <label>@Html.DisplayName("Re calendarizaciones Permitidas")</label>
                   <span class="badge"><label>@Html.DisplayFor(model => model.Operacion.IteracionesPermitidas) </label></span>
                </div>
                <div class="form-group">
                   <label>@Html.DisplayName("Re calendarizaciones Realizadas")</label>
                      <span class="badge"><label>@Html.DisplayFor(model => model.Reprogramaciones) </label></span>
                </div>
                    @if (ViewBag.Documento != null)
                    {
                       <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Descargar Documento</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                   
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Versión")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Nombre")
                                            </th>
                                            <th>
                                              
                                            </th>
                                        </tr>
                                        @{
                                            int version = 1;
                                        }
                                        @foreach (var item in Model.Documentos.ToList())
                                        {
                                            <tr>
                                                <td>@version</td>
                                                <td>@Html.DisplayFor(modelItem => item.Path)</td>
                                                <td><a href="@Url.Action("Download", new { file = item.Path })">
                                                    <span class="glyphicon glyphicon-download"></span></a>
                                                </td>
                                                @*<td>@Html.ActionLink("Descargar", "Download", new { file = item.Path })</td>*@
                                            </tr>
                                           version++;
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
               </div>
            </div>   
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayName("Fecha")
                    </th>
                    <th>
                        @Html.DisplayName("Funcionario")
                    </th>
                    <th>
                        @Html.DisplayName("Comentario")
                    </th>
                    <th>
                        @Html.DisplayName("Estado de validación")
                    </th>
                </tr>
                @foreach (var item in Model.Observaciones.ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaComentario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Nombre, new { @style ="padding-right:5px !important;"}) @Html.DisplayFor(modelItem => item.Funcionario.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comentario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValidacionEstatus)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cerrar</button>
</div>