@model SMGPA.Models.Career

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Carrera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripción)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-default" href="@Url.Action("Edit", new { id = Model.idCareer })">Editar</a>
    <a class="btn btn-default" href="@Url.Action("Index")">Volver</a>
</p>
