@model IEnumerable<SMGPA.Models.Permission>
@{
    Layout = null;
}
<div class="modal-header">
    <div id="alertsucess"class="alert alert-success" role="alert" hidden="hidden">Permiso Agregado</div>
    <div id="alertdelete" class="alert alert-danger" role="alert" hidden="hidden">Permiso Eliminado</div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Permisos de @ViewBag.Role</h4>
    <div>
       @using (Html.BeginForm())
       {
       <fieldset>
          <p>Permiso</p>
         @Html.DropDownList("Permisos", ViewData["Permisos"] as SelectList, "--Seleccionar Permiso ", new { @class = "traceable", url = "/Roles/AddPermission/" })
        <a class="btn btn-default" id="sendPermission">Agregar</a>
       </fieldset>
       }
    </div>

</div>

<div class="modal-body">

    <table id="tablePermission" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TextLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionResult)
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TextLink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Controller)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActionResult)
                    </td>
                     <td>
                        <a id="deletePermission" url="/Roles/DeletePermission/" value="@item.idPermission">
                         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a> 
                    </td> 
                    
                </tr>
            }
        }
    </table>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cerrar</button>
</div>

