@model SMGPA.Models.Tasks
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<div class="row">
        <div class="container">
            <div class="col-md-12">
                <div class="form-group pull-right">
                    <div class="btn-info btn-sm">
                        <label>@Html.DisplayFor(model => model.Estado)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2>Tarea @Html.DisplayFor(model => model.Operacion.Nombre)</h2>
            <div class="col-md-12">
                <div class="col-md-6">
                    @switch (Model.Operacion.Type)
                    {
                        case OperationType.ENTIDAD:
                            <div class="form-group">
                                <label>@Html.DisplayName("Responsable")</label>
                                <div class="well well-sm">
                                    <label>@Html.DisplayFor(model => model.ResponsableEntity.Nombre)</label>
                                </div>
                            </div>
                            break;
                        case OperationType.FUNCIONARIO:
                            <div class="form-group">
                                <label>@Html.DisplayName("Responsable")</label>
                                <div class="well well-sm">
                                    <label>@Html.DisplayFor(model => model.Responsable.Nombre)@Html.DisplayFor(model => model.Responsable.Apellido)</label>
                                </div>
                            </div>
                            break;
                    }
                   <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Operacion.Descripcion):</label>
                        <div class="well well-sm">
                            <label>@Html.DisplayFor(model => model.Operacion.Descripcion)</label>
                        </div>
                   </div>
                    <div class="form-group">
                        <label>@Html.DisplayName("Fecha de inicio"):</label>
                        <div class="well well-sm">
                            <label>@Html.DisplayFor(model => model.fechaInicio)</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayName("Fecha de fin"):</label>
                        <div class="well well-sm">
                            <label>@Html.DisplayFor(model => model.fechaFin) </label>
                        </div>
                   </div>
                    @if (Model.Operacion.Validable)
                    {
                     <div class="form-group">
                         <label>@Html.DisplayName("Entidad Validadora")</label>
                             <div class="well well-sm">
                                 <label>@Html.DisplayFor(model => model.Participantes.Nombre)</label>
                             </div>
                      </div>
                    }
                </div>
                <div class="col-md-6">
                    @if (ViewBag.Documento != null)
                    {
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Descargar Documento</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group well">
                                    <label>@ViewBag.Documento</label>
                                </div>
                                <div class="form-group">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Versión")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Nombre")
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                        @{
                                            int version = 1;
                                        }
                                        @foreach (var item in Model.Documentos.ToList())
                                        {
                                            <tr>
                                                <td>@version</td>
                                                <td>@Html.DisplayFor(modelItem => item.Path)</td>
                                                <td>@Html.ActionLink("Descargar", "Download", new { file = item.Path })</td>
                                            </tr>
                                            version++;
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                       
                    }
               </div>
            </div>   
    </div>
    <div class="row">
        <div class="col-md-12">
        @if (Model.Estado == StatusEnum.ACTIVA || Model.Estado == StatusEnum.EN_PROGRESO)
        {
            <div style="margin-bottom: 25px;">
                @Html.ActionLink("Agregar Observación", "AddObservation", new { id = Model.idTask }, new { @class = "observation btn btn-default btn-sm", data_modal = "" })
            </div>     
        }
            @foreach (var item in Model.Observaciones.ToList())
            {
                <div class="panel panel-info">
                     <div class="panel-heading">
                             <h3 class="panel-title">Observación</h3>
                     </div>
                     <div class="panel-body">
                             <div class="col-md-3">     
                                 <div class="well well-sm">
                                     @Html.DisplayFor(modelItem => item.ValidacionEstatus)
                                 </div>
                                 <div class="well well-sm">
                                     @Html.DisplayFor(modelItem => item.FechaComentario)
                                 </div>
                             </div>
                             <div class="col-md-9">
                                 @Html.DisplayFor(modelItem => item.Funcionario.Nombre, new { @style = "padding-right:5px !important;" }) @Html.DisplayFor(modelItem => item.Funcionario.Apellido) Dice:
                                 <div class="well well-lg">
                                     @Html.DisplayFor(modelItem => item.Comentario)
                                 </div>
                             </div>
                     </div>
                    
                </div>
            }

        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        $(function (e) {
            $(document).on("click", "#subButton", function (e) {
                $('#myModal').modal('hide');
            });
            $('#myModal').on('hidden.bs.modal', function () {
                location.reload();
            });
        });
    </script>
}
